Source: ros-kinetic-rqt-topic
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/rqt_topic
Standards-Version: 3.9.2

Package: ros-kinetic-rqt-topic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-kinetic-python-qt-binding (>= 0.2.19), ros-kinetic-rostopic, ros-kinetic-rqt-gui, ros-kinetic-rqt-gui-py, ros-kinetic-std-msgs
Description: rqt_topic provides a GUI plugin for displaying debug information about ROS topics including publishers, subscribers, publishing rate, and ROS Messages.
